.select {
    display: inline-block;
    position: relative;
    min-width: 20rem;
    border: 0.1rem solid #c0bfbf;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;

    &__text {
        cursor: pointer;
        min-height: 3rem;

        &::after {
            content: "";
            position: absolute;
            right: 1rem;
            top: 50%;
            border: 0.7rem solid transparent;
            transform: translateY(-25%);
            border-color: black transparent transparent transparent;
        }
    }

    &__options {
        margin: 0;
        padding: 0;
        text-align: center;
        border-radius: 0.5rem;
        max-height: 30vh;
        overflow-y: auto;

        position: absolute;
        margin-top: 0.5rem;
        width: 100%;
        border: 0.1rem solid #e4e4e4;

        background-color: rgb(255, 255, 255);


        &_show {
            min-height: 5rem;
            opacity: 1;
            visibility: visible;
            z-index: 999;
        }

        &_hide {
            min-height: 0;
            opacity: 0;
            visibility: hidden;
        }
    }

    &__option {
        list-style-type: none;
        border-bottom: 0.1rem solid #e4e4e4;
        cursor: pointer;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: #d9d9d9;
        }
    }
}